%bar {
    display: flex;
    height: $toolbar-height;
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.toolbar {
    @extend %bar;
    z-index: 999;

    &__button {
        width: 25px;
        height: 25px;
        margin-left: 10px;
        border: 0;
        outline: none;
        cursor: pointer;
        background-size: cover;
    }
    .brush {
        background: url('../images/brush.png') no-repeat center center;
    }
    .rect {
        background: url('../images/rect.png') no-repeat center center;
    }
    .circle {
        background: url('../images/circle.png') no-repeat center center;
    }
    .eraser {
        background: url('../images/eraser.png') no-repeat center center;
    }
    .line {
        background: url('../images/line.png') no-repeat center center;
    }
    .rainbow {
        
    }
    .undo {
        margin-left: auto;
        background: url('../images/undo.png') no-repeat center center;
    }
    .redo {
        background: url('../images/redo.png') no-repeat center center;
    }
    .save {
        margin-right: 10px;
        background: url('../images/save.png') no-repeat center center;
    }
}

.settingbar {
    @extend %bar;
    top: $toolbar-height;

    &__label {
        margin-left: 10px;
    }
}